{% extends 'default.html' %}

{% block content %}
    <h1>{{ object.header }}</h1>
    <h2>Автор: {{ object.author.username }}</h2>
    <h3>Создано: {{ object.creation_date }}</h3>
        {% autoescape off %}
        {{ object.body }}
        {% endautoescape %}
    {% if object.author == user %}
   <a href="{% url 'announce_edit' object.id %}">
            <button>
                Редактировать
            </button>
        </a>
    <a href="{% url 'announce_delete' object.id %}">
            <button>
                Удалить
            </button>
    </a>
    {% endif %}
    <a href="{% url 'response' object.id %}">
            <button>
                Отклик
            </button>
    </a>
{% endblock content %}
</div>